{% extends 'posts/base.twig' %}
{% block post_meta %}
    {% include 'includes/post-meta.twig' with { 'description': post.description, 'author': post.author.name } %}
{% endblock post_meta %}
{% block main %}
    <div>
        <div class="ui very padded top attached segment single-post">
            <a href="javascript:void(0);">
                <article class="ui container featured-content">
                    <small class="text-gray-500">
                        <time datetime="{{ post.date_created }}">{{ time_ago(post.date_created) }}</time>
                    </small>
                    <div class="py-8 mb-4 description post-content">
                        {% autoescape false %}
                            {{ post.body|replace({'\n': '<br>'}) }}
                        {% endautoescape %}
                    </div>
                    <div class="mt-4 featured-footer extra">
                        <img src="{{ site_url('assets/images/uploads') ~ '/' ~ post.user_photo }}" class="ui circular avatar image" alt="{{ post.writer }}'s post">
                        @{{ post.writer }}
                    </div>
                    <div class="ui top right attached teal label with-popup" data-title="Comments"
                         data-content="{{ post.comments_count }}"
                         data-position="top center">
                        <i class="comments icon"></i> {{ post.comments_count }}
                    </div>
                </article>
            </a>
        </div>
        <div class="ui bottom attached text menu">
            <div class="right menu">
                <a href="javascript:void(0);" class="item" id="add-comment">
                    Add a comment&nbsp;<i class="comment icon"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock main %}