<div class="ui very wide right sidebar">
    <div class="ui padded segment" style="height: 100%">
        <div class="mb-24 with-popup" data-content="Close">
            <button class="ui right floated icon circular button" id="close-sidebar">
                <i class="times icon"></i>
            </button>
        </div>
        <section class="ui raised feed segment" id="comments-feed">
            {% for comment in comments %}
                <article class="event">
                    <div class="label">
                        <img src="{{ load_placeholder() }}">
                    </div>
                    <div class="content">
                        <div class="summary">
                            {{ comment.writer ?? 'Guest' }}
                            <div class="date">
                                <time datetime="{{ comment.date_created }}">{{ time_ago(comment.date_created) }}</time>
                            </div>
                        </div>
                        <div class="extra text post-content">
                            {% autoescape false %}
                                {{ comment.body|replace({'\n': '<br>'}) }}
                            {% endautoescape %}
                        </div>
                    </div>
                </article>
            {% endfor %}
        </section>
        <section class="ui raised comment-form-container segment">
            <div class="ui container">
                {% include 'components/segment-header.twig' with {'segment_title': 'Add a comment'} %}
                <form class="ui form" id="comment-form" method="post" action="{{ site_url('posts/save-comment') }}">
                    <input type="hidden" name="_csrf" value="{{ csrf() }}">
                    <input type="hidden" name="post_id" value="{{ post_id }}">
                    {% if not is_logged_in() %}
                        {% set row = 4 %}
                        <input type="hidden" name="user_id" value="null">
                    {% else %}
                        {% set row = 6 %}
                        <input type="hidden" name="user_id" value="{{ user.id }}">
                    {% endif %}
                    <div class="field">
                        <div class="ui left corner labeled input" style="width: 100%">
                            <div class="ui left corner label">
                                <i class="asterisk icon"></i>
                            </div>
                            <textarea name="body" required style="resize: none" placeholder="Your comment"
                                      rows="{{ row }}" maxlength="250"></textarea>
                        </div>
                    </div>
                    <div class="ui right aligned container">
                        <button class="ui button" type="submit" id="submit-comment">Submit</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>