{% extends 'base.twig' %}
{% block main %}
    <div class="ui basic segment">
        <div class="ui left attached rail rail-profile">
            <div class="mt-3">
                <div class="ui basic segment">
                    <div class="ui card">
                        <div class="image">
                            <img src="{{ user.getProfilePhoto }}" alt="{{ user.name ~ "'s profile photo" }}">
                        </div>
                        <div class="content">
                            <a class="header">{{ user.name }}</a>
                            <div class="meta">
                                @{{ user.username }}
                            </div>
                        </div>
                        <div class="extra content">
                            <i class="paperclip icon"></i>
                            {% set post_count = user.getAllPosts|length %}
                            {{ post_count ~ ' Post' ~ ((post_count > 1 or post_count == 0) ? 's' : '') }}
                            <a href="{{ site_url('profile/settings') }}" class="ui bottom right attached label">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui text menu profile-menu">
            <a class="item active tab-item" data-tab="home">
                Home
            </a>
            <a class="item tab-item" data-tab="active-posts">
                Active Posts
            </a>
            <a class="item tab-item" data-tab="archived-posts">
                Archived Posts
            </a>
        </div>
        <div class="ui bottom attached active tab" data-tab="home">
            <form class="ui form" id="new_post_form">
                <input type="hidden" name="_csrf" value="{{ csrf() }}">
                <input type="hidden" name="user_id" value="{{ user.id }}">
                <div class="ui raised segments">
                    <div class="ui very padded segment">
                        {% include 'components/segment-header.twig' with {'segment_title': 'Compose'} %}
{#                        <div class="field">#}
{#                            <div id="editor"></div>#}
{#                        </div>#}
                        <div class="ui left corner labeled input" style="width: 100%">
                            <div class="ui left corner label">
                                <i class="asterisk icon"></i>
                            </div>
                            <textarea name="body" style="resize: none"></textarea>
                        </div>
                    </div>
                    <div class="ui very padded segment">
                        <div class="field">
                            <div class="ui transparent left corner labeled input">
                                <div class="ui left corner label">
                                    <i class="asterisk icon"></i>
                                </div>
                                <input type="text" name="description" placeholder="Add a short description" required>
                            </div>
                        </div>
                        <br>
                        <div class="ui right aligned container">
                            <div class="ui checkbox">
                                <input name="archive" id="archive" type="checkbox" tabindex="0">
                                <label for="archive">Archive Post</label>
                            </div>
                            <br>
                            <small>
                                <span class="ui grey text">
                                    Posts are only visible for 24 hours. Archive your post so it will be saved after expiry.
                                </span>
                            </small>
                        </div>
                        <br>
                        <div class="ui right aligned container">
                            <button class="ui button" type="button" id="post_btn">Post</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="ui bottom attached tab" data-tab="active-posts">
            {% if active_posts %}
                {% for post in active_posts %}
                    <div class="single-post-article" id="{{ post.id }}">
                        <div class="ui very padded raised segment single-post">
                            <a href="{{ site_url('posts/' ~ post.id) }}">
                                <article class="ui container featured-content">
                                    <small class="text-gray-500">
                                        <time datetime="{{ post.date_created }}">{{ time_ago(post.date_created) }}</time>
                                    </small>
                                    <div class="py-8 mb-4 description post-content">
                                        {% autoescape false %}
                                            {{ substr(post.body, 0, 250)|replace({'\n': '<br>'}) }}
                                        {% endautoescape %}
                                    </div>
                                    <div class="mt-4 featured-footer extra">
                                        <img src="{{ user.getProfilePhoto }}" class="ui circular avatar image" alt="{{ post.writer }}'s post">
                                        @{{ post.writer }}
                                    </div>
                                    <div class="ui top right attached teal label with-popup" data-title="Comments"
                                         data-content="{{ post.comments_count }}"
                                         data-position="top center">
                                        <i class="comments icon"></i> {{ post.comments_count }}
                                    </div>
                                </article>
                            </a>
                        </div>
                        <div class="ui divider"></div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="ui header">No posts available.</div>
            {% endif %}
        </div>
        <div class="ui bottom attached tab" data-tab="archived-posts">
            {% if archived_posts %}
                {% for post in archived_posts %}
                    <div class="single-post-article" id="{{ post.id }}">
                        <div class="ui very padded raised segment single-post">
                            <article class="ui container featured-content">
                                <small class="text-gray-500">
                                    <time datetime="{{ post.date_created }}">{{ time_ago(post.date_created) }}</time>
                                </small>
                                <div class="py-8 mb-4 description post-content">
                                    {% autoescape false %}
                                        {{ substr(post.body, 0, 250)|replace({'\n': '<br>'}) }}
                                    {% endautoescape %}
                                </div>
                                <div class="mt-4 featured-footer extra">
                                    <img src="{{ user.getProfilePhoto }}" class="ui circular avatar image" alt="{{ post.writer }}'s post">
                                    @{{ post.writer }}
                                </div>
                                <div class="ui top right attached teal label with-popup" data-title="Comments"
                                     data-content="{{ post.comments_count }}"
                                     data-position="top center">
                                    <i class="comments icon"></i> {{ post.comments_count }}
                                </div>
                            </article>
                        </div>
                        <div class="ui divider"></div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="ui header">No archived posts available.</div>
            {% endif %}
        </div>
    </div>
{% endblock main %}
{#{% block page_specific_styles %}#}
{#    <link rel="stylesheet" href="{{ load_asset('assets/vendor/quill/quill.bubble.css') }}">#}
{#{% endblock page_specific_styles %}#}
{% block page_specific_scripts %}
    {% include 'components/toast.twig' with {'key': 'reg_success'} %}
{#    {% include 'components/quill.twig' %}#}
    <script>
        $(document).ready(function () {
            let description = $("input[name='description']");
            let user_id = $("input[name='user_id']");
            let archive = 0;
            let csrf = $("input[name='_csrf']");
            // let body = quill.root.innerHTML.trim();
            let body = $("textarea[name='body']");
            let post_btn = $('#post_btn');
            const form = $('.ui.form#new_post_form');
            form
                .form({
                    fields: {
                        description: {
                            rules: [
                                {
                                    type: 'maxLength[250]',
                                    prompt: 'Description can\'t exceed 250 characters'
                                },
                                {
                                    type: 'empty',
                                    prompt: 'Add a description.'
                                }
                            ]
                        }
                    },
                    inline: true,
                    on: 'blur'
                });

            $('.checkbox')
                .checkbox({
                    onChecked: function() {
                        archive = 1;
                    },
                    onUnchecked: function() {
                        archive = 0;
                    },
                })
            ;

            post_btn.on('click', function (e) {
                if (form.form('is valid')) {
                    $.ajax({
                        type: "POST",
                        url: "{{ site_url('posts/store') }}",
                        data: {
                            _csrf: csrf.val(),
                            description: description.val(),
                            body: body.val(),
                            user_id: user_id.val(),
                            archive: archive
                        },
                        success: function (data) {
                            let response = JSON.parse(data);
                            csrf.val(response.new_csrf);
                            description.val('');
                            // quill.setText('');
                            body.val('');
                            archive = 0;
                            $('.checkbox').checkbox('set unchecked');
                            $('body')
                                .toast({
                                    showProgress: 'top',
                                    displayTime: 5000,
                                    showIcon: 'glass cheers',
                                    message: 'Your post has been published!',
                                    position: 'top center',
                                    class: 'success'
                                });
                        }, error: function () {
                            $('body')
                                .toast({
                                    showProgress: 'top',
                                    displayTime: 5000,
                                    showIcon: 'frown',
                                    message: 'An error has occurred. Please try again later.',
                                    position: 'top center',
                                    class: 'red'
                                });
                        }
                    });
                } else {
                    $('body')
                        .toast({
                            showProgress: 'top',
                            displayTime: 5000,
                            showIcon: 'warning',
                            message: 'Add a description or body',
                            position: 'top center',
                            class: 'warning'
                        });
                }
            });
        });
    </script>
{% endblock page_specific_scripts %}