{% extends 'base.twig' %}
{% block main %}
    <div class="ui very padded raised segment">
        {% include 'components/segment-header.twig' with {
            'segment_title': 'Register',
            'subtitle': '<p> Or <a href=" ' ~ site_url('login') ~ '" class="ui tertiary button">Login</a></p>'
        } %}
        {{ display_form_errors() }}
        <form class="ui form" method="post" action="{{ site_url('register/store') }}" id="reg-form">
            <!--TODO: add CSRF here later-->
            <div class="fields">
                <div class="ten wide field {{ error_bag('name') ? 'error' : '' }}">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" placeholder="Name"  minlength="4" maxlength="70" value="{{ form_values('name') }}">
                </div>
                <div class="field {{ error_bag('username') ? 'error' : '' }}">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" placeholder="Username"  minlength="4"
                           maxlength="32" value="{{ form_values('username') }}">
                </div>
            </div>
            <div class="field {{ error_bag('email') ? 'error' : '' }}">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Email"  minlength="4" maxlength="70" value="{{ form_values('email') }}">
            </div>
            <div class="fields">
                <div class="eight wide field {{ error_bag('password') ? 'error' : '' }}">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Password"  minlength="4"
                           maxlength="32">
                </div>
                <div class="eight wide field {{ error_bag('password') ? 'error' : '' }}">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm Password"
                            minlength="4" maxlength="32">
                </div>
            </div>
            <button class="ui positive button" type="submit">Register</button>
        </form>
    </div>
{% endblock main %}