{% extends 'base.twig' %}
{% block post_meta %}
    {% include 'includes/post-meta.twig' with {'description': 'Waddup means what is up.'} %}
{% endblock post_meta %}
{% block main %}
    <div class="posts-container">
        {% if posts %}
            {% for post in posts %}
                <div class="single-post-article" id="{{ post.id }}">
                    <div class="ui very padded raised segment single-post">
                        <a href="{{ site_url('posts/' ~ post.id) }}">
                            <article class="ui container featured-content">
                                {#                        {% include 'components/segment-header.twig' with {'segment_title': post.title} %} #}
                                <small class="text-gray-500">
                                    <time datetime="{{ post.date_created }}">{{ time_ago(post.date_created) }}</time>
                                </small>
                                <div class="py-8 mb-4 description post-content">
                                    {% autoescape false %}
                                        {{ substr(post.body, 0, 250)|replace({'\n': '<br>'}) }}
                                    {% endautoescape %}
                                </div>
                                <div class="mt-4 featured-footer extra">
                                    <img src="{{ load_placeholder() }}" class="ui circular avatar image">
                                    @{{ post.writer }}
                                </div>
                                <div class="ui top right attached teal label with-popup" data-title="Comments"
                                     data-content="{{ post.comments_count }}"
                                     data-position="top center">
                                    <i class="comments icon"></i> {{ post.comments_count }}
                                </div>
                            </article>
                        </a>
                    </div>
                    <div class="ui divider"></div>
                </div>
            {% endfor %}
        {% else %}
            <div class="ui header">No posts available.</div>
        {% endif %}
    </div>
    <div class="mt-12">
        <div class="ui basic segment">
            <div class="ui inverted dimmer" id="loader">
                <div class="ui text loader">Loading</div>
            </div>
        </div>
    </div>
    <input type="hidden" name="_csrf" {{ csrf() }}>
{% endblock main %}
{% block page_specific_scripts %}
    <script>
        $(document).ready(function () {
            let posts_container = $('.posts-container');
            let loader = $('#loader');
            let csrf = $('input[name="_csrf"]');

            function load_posts() {
                $.ajax({
                    type: 'POST',
                    url: "{{ site_url('posts/get') }}",
                    async: false,
                    cache: false,
                    data: {
                        id: $('.single-post-article:last').attr('id'),
                        _csrf: csrf.val()
                    },
                    success: function (response) {
                        const data = JSON.parse(response);
                        csrf.val(data.new_csrf);
                        let html = '';
                        loader.addClass('active');
                        setTimeout(function () {
                            loader.removeClass('active');
                            if (data.posts) {
                                data.posts.forEach(function (post) {
                                    html += '\
                                <div class="single-post-article" id="' + post.id + '">\
                                    <div class="ui very padded raised segment single-post">\
                                        <a href="{{ site_url('posts') }}/' + post.id + '">\
                                            <article class="ui container featured-content">\
                                                <small class="text-gray-500">\
                                                    <time datetime="' + post.date_created + '">' + get_time_ago(post.date_created) +'</time>\
                                                </small>\
                                                <div class="py-8 mb-4 description post-content">\
                                                    ' + post.body.replace('\n', '<br>') + '\
                                                </div>\
                                                <div class="mt-4 featured-footer extra">\
                                                    <img src="{{ load_placeholder() }}" class="ui circular avatar image"> @' + post.writer + '\
                                                </div>\
                                                <div class="ui top right attached teal label with-popup" data-title="Comments"\
                                                     data-content="' + post.comments_count + '"\
                                                     data-position="top center">\
                                                    <i class="comments icon"></i> ' + post.comments_count + '\
                                                </div>\
                                            </article>\
                                        </a>\
                                    </div>\
                                    <div class="ui divider"></div>\
                                </div>';
                                });
                                posts_container.append(html);
                            } else {
                                posts_container.append('<h2>No posts</h2>');
                            }
                        }, 500);
                    },
                    error: function () {
                        alert('Error fetching posts');
                    }
                })
            }

            function get_time_ago(time) {
                time = +new Date(time);

                var time_formats = [
                    [60, 'seconds', 1], // 60
                    [120, '1 minute ago', '1 minute from now'], // 60*2
                    [3600, 'minutes', 60], // 60*60, 60
                    [7200, '1 hour ago', '1 hour from now'], // 60*60*2
                    [86400, 'hours', 3600], // 60*60*24, 60*60
                    [172800, 'Yesterday', 'Tomorrow'], // 60*60*24*2
                    [604800, 'days', 86400], // 60*60*24*7, 60*60*24
                    [1209600, 'Last week', 'Next week'], // 60*60*24*7*4*2
                    [2419200, 'weeks', 604800], // 60*60*24*7*4, 60*60*24*7
                    [4838400, 'Last month', 'Next month'], // 60*60*24*7*4*2
                    [29030400, 'months', 2419200], // 60*60*24*7*4*12, 60*60*24*7*4
                    [58060800, 'Last year', 'Next year'], // 60*60*24*7*4*12*2
                    [2903040000, 'years', 29030400], // 60*60*24*7*4*12*100, 60*60*24*7*4*12
                    [5806080000, 'Last century', 'Next century'], // 60*60*24*7*4*12*100*2
                    [58060800000, 'centuries', 2903040000] // 60*60*24*7*4*12*100*20, 60*60*24*7*4*12*100
                ];
                let seconds = (+new Date() - time) / 1000,
                    token = 'ago',
                    list_choice = 1;

                if (seconds === 0) {
                    return 'Just now'
                }
                if (seconds < 0) {
                    seconds = Math.abs(seconds);
                    token = 'from now';
                    list_choice = 2;
                }
                let i = 0,
                    format;
                while (format = time_formats[i++])
                    if (seconds < format[0]) {
                        if (typeof format[2] == 'string')
                            return format[list_choice];
                        else
                            return Math.floor(seconds / format[2]) + ' ' + format[1] + ' ' + token;
                    }
                return time;
            }

            {% if posts %}
            $(window).scroll(function () {
                if ($(window).scrollTop() + $(window).height() >= $(document).height()) {
                    load_posts();
                }
            });
            {% endif %}
        });
    </script>
{% endblock page_specific_scripts %}