{% extends 'base.twig' %}
{% block post_meta %}
    {% include 'includes/post-meta.twig' with {'description': 'Waddup means what is up.'} %}
{% endblock post_meta %}
{% block main %}
    {% for post in posts %}
        <div>
            <div class="ui very padded raised segment single-post">
                <a href="{{ site_url('posts/' ~ post.id) }}">
                    <article class="ui container featured-content">
                        {#                        {% include 'components/segment-header.twig' with {'segment_title': post.title} %}#}
                        <small class="text-gray-500">
                            <time datetime="{{ post.date_created }}">{{ time_ago(post.date_created) }}</time>
                        </small>
                        <div class="py-8 mb-4 description post-content">
                            {% autoescape false %}
                                {{ substr(post.body, 0, 250)|replace({'\n': '<br>'}) }}
                            {% endautoescape %}
                        </div>
                        <div class="mt-4 featured-footer extra">
                            <img src="{{ load_placeholder() }}" class="ui circular avatar image"> @{{ post.writer }}
                        </div>
                        <div class="ui top right attached teal label with-popup" data-title="Comments" data-content="{{ post.comments_count }}"
                             data-position="top center">
                            <i class="comments icon"></i> {{ post.comments_count }}
                        </div>
                    </article>
                </a>
            </div>
            <div class="ui divider"></div>
        </div>
    {% endfor %}
{% endblock main %}